:root {
    /* https://coolors.co/palette/c33149-a8c256-f3d9b1-c29979-a22522 */
    --coolors-1: #C33149; /* Raspberry */
    --coolors-2: #A8C256; /* Salad */
    --coolors-3: #F3D9B1; /* Cream */
    --coolors-4: #C29979; /* Browned meat */
    --coolors-5: #A22522; /* Red meat */
    --coolors-2-lighter: #e7edd4;
    --coolors-2-darker: #6f891f;
    --primary-color: var(--coolors-1);
    --secondary-color: #2ecc71;
    --accent-color: var(--coolors-2);
    --background-color: #f8f4ed; /* lighter version of coolors-3 */
    --text-color:  #3d1b00 ; /* Near-black version of coolors-4 */
    --primary-color-lighter:  #dc3752;
    --link-color: var(--primary-color);
    --link-hover-color: var(--primary-color-lighter);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Optima, Tahoma, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

small a {
    color: var(--coolors-2-darker);
}

/* Images */
.thumbnail {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

/* Charts */
.chart-wrapper {
    position: relative;
}

.chart-iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 300px;
    border: 1px solid #ccc;
    padding: 0px;
    margin: 0px auto;
    overflow-x: auto;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Help button */
.help-button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;
    outline: none;
}

/* Tooltip */
.tooltip {
    display: none;
    position: absolute;
    background-color: var(--coolors-2-lighter);
    color: #333;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    max-width: 70%;
    top: 60px;
    left: 60px;
    transform: translateX(0%);
    transition: opacity 0.2s;
}

.close-tooltip {
    font-size: 1.2rem; /* Adjust size as needed */
    color: var(--primary-color); /* Use your primary color */
    margin-left: 10px; /* Space from the content */
    cursor: pointer;
}

.help-button:hover + .tooltip {
    display: block;
}

.help-button.active + .tooltip {
    display: block;
}

/* Open plot button */
.open-plot-new-tab-button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 40;
    outline: none;
    text-decoration: none;
}

.plot-button:hover {
    background-color: rgba(223, 232, 210, 0.8);
}

/* Responsive tweaks */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .chart-container,
    .chart-iframe {
        padding: 0px;
        margin: 0px;
    }

    .help-button {
        width: 35px;
        height: 35px;
        font-size: 0.9rem;
        top: 8px;
        left: 8px;
    }

    .open-plot-new-tab-button {
        width: 35px;
        height: 35px;
        font-size: 0.9rem;
        top: 51px;
        left: 8px;
    }

    .tooltip {
        max-width: 95%;
        font-size: 0.9rem;
        top: 51px;
        left: 51px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 15px;
    }

    .chart-container,
    .chart-iframe {
        min-height: 200px;
    }

    .help-button,
    .open-plot-new-tab-button {
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
    }

    .tooltip {
        font-size: 0.85rem;
    }
}
